* {
    margin: 0;
    padding: 0;
}

.wrapper {
	padding: 5px;
	display: flex;
	flex-direction: row;	
}
#CommentsAdd {
	padding: 20px;
	margin-right: 3px;
	width: 20%;
	background-color: #840eb587;
}
#CommentsFeed {
	width: 50%;	
	background-color: #fff;
	display: flex;
	flex-flow: column nowrap;
}
#submit {
	margin-top: 5px;
	background-color: #840eb587;
	border: 1px solid #840eb5e6;
	transition: all ease 0.7s;
	width: 100px;
	height: 35px;
	outline: none;
}
#submit:hover {
	background-color: #840eb5e6;
	border: 1px solid #840eb5e6;
	cursor: pointer;
}
.comment__wrap {
	flex-flow: column nowrap;
	margin: 2px;
	background-color: #4cb907;
	min-width: 500px;
}
.comment__body {
	display: flex;
	flex-flow: row nowrap; 
}
.comment__text {
	display: flex;
	padding: 5px;
}
.avatar__block {
	display: flex;
	flex-flow: column nowrap;
	border-right: 2px solid #efd679;
	align-items: center;
	padding: 3px;
}
.like__wrap {
	display: flex;
	align-self: flex-end;
	background-color: #4cb907;
	padding: 5px;	
}
#like__button {
	margin-top: 5px;
	background-color: #efd679;
	border: 1px solid #bf5454;
	transition: all ease 0.7s;
	width: 100px;
	height: 35px;
}
#like__button:hover {
	cursor: pointer;
}