body{
  box-sizing: border-box;
  padding: 10px 20px 30px;
  background: #eee;
  font-family: sans-serif;
}

.wrap{
  height: auto;
  width: auto;
	position: absolute;
  top:20%;
  left:37%;
}

.wrap img{
  height: 300px;
  width: 300px;
  
}
#wrapZoomed{
  left: 0;
  top: 0;
  position: fixed;
  width:100%;
  height:100%; 
  background:rgba(0, 0, 0, .8); 
}

#bigImage {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 90%;
}

#PrevSlide{
  position:absolute;
  left:-10%;
  top:40%;
  display:block;
  width:10%;
  height:25%;
  cursor:pointer;  
}

#PrevSlide:hover{
  opacity: 0.5
}

#NextSlide{
  position:absolute;
  right:-10%;
  top:40%;
  display:block;
  width:10%;
  height:25%;
  cursor:pointer;
}

#NextSlide:hover{
  opacity: 0.5
}

#ZoomedPrevSlide,
#ZoomedNextSlide {
  position: absolute;
  top: 50%;
  left: 18%;
  transform: translateY(-50%);
  height: 80px;
}

#ZoomedNextSlide {
  left: auto;
  right: 18%;
}

#ZoomedPrevSlide,
#ZoomedNextSlide:hover{
  opacity: 0.8
}

#close {
  position: absolute;
  right: 18%;
  top: 10px;
  background-color: red;
}